<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Information</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
        }

        .login-label, .password-label {
            color: red; /* Ko'k rang */
        }

        .login, .password {
            color: #0f0; /* Yashil rang */
        }
    </style>
</head>
<body>
{% for login in logins %}
    <h1><span class="login-label">Login:</span> <span class="login">{{ login.login }}</span> | <span
            class="password-label">Password:</span> <span class="password">{{ login.password }}</span></h1>
{% endfor %}
</body>
</html>